<p>Hola <%= name %>,</p>
<p>
  Gracias por registrarte en Markai. Estamos muy emocionados de tenerte a bordo.
</p>
<p>Para empezar a usar Markai, por favor confirma tu cuenta a continuación:</p>
<p>
  <a href="<%= confirmation_url %>">Confirma tu cuenta</a>
</p>
<p>
  Si tienes problemas para hacer clic en el botón de confirmación de la cuenta, copia y pega
  la siguiente URL en tu navegador web.
</p>
<a href="<%= confirmation_url %>"><%= confirmation_url %></a>